{% extends 'base.html' %}
{% block title %}CONTACT ELPIZO{% endblock %}
{% block content %}
<body>
<div id="container">
  <div id="topRightContent"><img src="/static/images/logo.gif" width="126" height="55" alt="logo" class="displayed"></div>

<div id="panel">
  <ul>
    <li></li>
	<li><a href="/lookbook/">LOOKBOOK</a></li>
<br><br>
      <li><a href="/shop/">SHOP</a></li>
    <li><a href="/contact/" style="color:#000000">CONTACT</a></li>
    <li><a href="/blog/">BLOG</a></li>
	<li></li>
    <li></li>
    <li></li><br><br><br><br>
    <li></li>
	</ul>
</div>
<div id="contentLarge">   
    <div id="contact">
<p>   Elpizo is a high-end fashion brand base on London, </p>
<p>Elpizo focus on design, quality and value, brings the best afford- able product and fashion experience to consumer . Basic on brand ethos, </p>
<p>Elpizoreinvented classics and the latest trends. Offer to the customer can be seen on craftsmanship, fabric selection, and fits with daily life activities.</p>
<p>Welcome to Elpizo.</p>
<br>
<p>Contact information</p> 
        <p><a href="mailto:elpizostudio@gmail.com">ELPIZOSTUDIO@GMAIL.COM</a>&nbsp;&nbsp;&nbsp;<a href="https://www.facebook.com/pages/elpizo/357144480996552?fref=ts" target="_blank"><img src="/static/images/facebook.gif" width="37" height="19" alt="Facebook"></a><a href="http://www.weibo.com/2676025753/profile?rightmod=1&wvr=5&mod=personinfo" target="_blank"><img src="/static/images/weibo.gif" width="34" height="19" alt="Weibo"></a></p>
        <br><br>
<p>Company Registration number: 08526061. Registered in UK.</p>


	</div>
    <!--clearboth-->
	<br class="clearboth">
</div>
</div>
</body>
{% endblock %}