{% extends 'base.html' %}
{% block title %}Homepage{% endblock %}
{% block content %}
<body onLoad="MM_preloadImages('/static/images/cover-lookbook.jpg','/static/images/cover-shop.jpg','/static/images/cover-contact.jpg','/static/images/cover-blog.jpg')">
<div class="center"><img src="/static/images/cover.jpg" alt="..." usemap="#Map" class="displayed" id="Image1">
  <map name="Map">
    <area shape="rect" coords="212,658,298,680" href="lookbook/" onMouseOver="MM_swapImage('Image1','','/static/images/cover-lookbook.jpg',1)" onMouseOut="MM_swapImgRestore()">
    <area shape="rect" coords="468,661,515,678" href="shop/" onMouseOver="MM_swapImage('Image1','','/static/images/cover-shop.jpg',1)" onMouseOut="MM_swapImgRestore()">
    <area shape="rect" coords="696,659,771,681" href="contact/" onMouseOver="MM_swapImage('Image1','','/static/images/cover-contact.jpg',1)" onMouseOut="MM_swapImgRestore()">
    <area shape="rect" coords="954,659,1000,681" href="blog/" onMouseOver="MM_swapImage('Image1','','/static/images/cover-blog.jpg',1)" onMouseOut="MM_swapImgRestore()">
  </map>
</div>
</body>
{% endblock %}
