{% extends 'base.html' %}
{% block title %}Elpizo's Shop{% endblock %}
{% block content %}
<body>
<div id="container">
  <div id="topRightContent"><img src="/static/images/logo.gif" width="126" height="55" alt="logo" class="displayed"></div>

<div id="panel">
  <ul>
    <li></li>
	<li><a href="/lookbook/">LOOKBOOK</a></li>
<br><br>
      <li><a href="/shop/" style="color:#000000">SHOP</a></li>
    <li><a href="/contact/" >CONTACT</a></li>
    <li><a href="/blog/">BLOG</a></li>
	<li></li>
    <li></li>
    <li></li><br><br><br><br>
    <li></li>
	</ul>
</div>
<div id="contentLarge">   
    <div id="contact" style='text-align:center;'>

  <p style = 'font:bold 28px Tahoma;'>COMING SOON..</p>

	</div>
    <!--clearboth-->
	<br class="clearboth">
</div>
</div>
</body>
{% endblock %}